.container-projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 295px));
  grid-template-rows: 1fr;
  justify-content: center;
  gap: 1rem;
}

.card-proyect {
  background-color: #a7ddee;
  border: thin solid rgb(128, 128, 128);
  border-radius: 12px;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  cursor: pointer;
  overflow: hidden;
}

.card-proyect h5,
p {
  align-items: center;
  padding-top: 0.5rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.card-proyect:hover {
  background-color: rgb(41, 38, 95);
  color: white;
}

.cv {
  text-decoration: none;
  color: black;
}
