html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

#fondo {
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cabecera {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.cabecera:nth-child(3) {
  align-items: center;
  justify-content: flex-end;
}

.cabecera button {
  width: min-content;
  height: min-content;
  justify-content: flex-end;
}

.cabecera div {
  justify-content: center;
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-bryan:hover {
  border: 2px solid white;
  border-radius: 8px;
}

.home {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: flex-start;
  text-align: center;
  gap: 0.3rem;
  height: 90vh;
  padding-top: 1rem;
}

.element-1 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 370px;
  padding-right: 1rem;
  border-right: 2px solid rgb(189, 189, 189);
}

.element-2 {
  width: 400px;
  padding: 2px;
}

.element-3 {
  width: 300px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-left: 2px solid rgb(189, 189, 189);
}

#tecnologias {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
  gap: 1rem;
}

#tecnologias img {
  width: 70px;
  height: 70px;
  border-radius: 0.5rem;
}

#tecnologias img:hover {
  width: 75px;
  height: 75px;
  transition: all 0.3s;
}

.d-block {
  height: 230px;
  border-radius: 1rem;
}

.home p {
  font-size: 1rem;
  font-style: bold;
}

#my-logo {
  width: 100px;
  height: 56px;
}

#my_photo {
  width: 180px;
  height: 230px;
  border-radius: 1.5rem;
  padding: 6px;
  background-color: #e4d8d8;
  border-bottom: 1px solid #747171;
  border-right: 1px solid #999999;
}

.social_media {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.social_media:hover {
  opacity: 50%;
  transition: all 0.5s;
}

#other_contact {
  display: flex;
  flex-flow: row wrap;
  gap: 3rem;
  padding: 0.3rem;
}

.proyectos {
  text-align: center;
  padding: 1rem;
}

/* CSS Carrito de Compras */

.box {
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 0 1rem #00000025 inset;
}

.grid-responsive {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1rem;
}

/* Fin CSS Carrito de Compras */

img {
  max-width: 100%;
  height: auto;
}

.button-contact {
  background-color: rgb(255, 51, 61);
  font-size: 1.3rem;
  color: white;
  border-radius: 1rem;
}

.button-contact:hover {
  background-color: rgb(48, 157, 207);
  transition: all 0.4s ease-in-out;
}

hr {
  margin: 1rem auto;
}

@media screen and (min-width: 1000px) {
  .grid-1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 0.5rem;
  }

  .grid-1-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    gap: 0.5rem;
  }
}
